<template>
  <div>
    <div class="card-title">
      <h2>{{ labels.title }}</h2>
    </div>
    <div class="row grid-responsive">
      <div class="column column-20 box">
        <ul>
          <li v-on:click="click('source_formats')">{{labels.source}}</li>
          <li v-on:click="click('ccaa')">{{labels.ccaa}}</li>
          <li v-on:click="click('organizations')">{{labels.organizations}}</li>
          <li v-on:click="click('topics')">{{labels.topics}}</li>
          <li v-on:click="click('proposals')">{{labels.proposals}}</li>
          <li v-on:click="click('close_reasons')">{{labels.reasons}}</li>
          <li v-on:click="click('projects')">{{labels.projects}}</li>
          <li v-on:click="click('cnae')">{{labels.cnae}}</li>
        </ul>
      </div>
      <div class="column column-80">
        <h2>{{ values.selectedTitle }}</h2>
        <div class="card large-card" v-if="canAdd(values.catalogName)">
          <div>
            <template v-if="values.catalogName == 'topics'">
              <label >{{labels.id}}</label>
              <input
                v-on:keyup="handleChange()"
                v-model="values.newItemID"
              >
              <div class="alert background-danger" v-if="validId">
                <em class="fa fa-times-circle"></em>
                {{labels.notValidID}}
              </div>
            </template>
            <label>{{labels.text}}</label>
              <input v-model="values.newItemValue">
            <template v-if="values.catalogName == 'topics'">
              <button
                v-on:click="addItemInTopics()"
                :disabled="!values.newItemID || !values.newItemValue || validId">
                {{labels.addItem}}
              </button>
            </template>
            <template v-else>
              <button
                v-on:click="addItem()"
                :disabled="!values.newItemValue">
                {{labels.addItem}}
              </button>
            </template>
          </div>
        </div>
        <ul v-if="values.catalogName != 'topics'">
          <li v-for="item in values.catalogsList">
            <div v-on:click="edit(item)">
              <p>{{item}}</p>
              <div v-if="showInput == item">
                <input v-model="values.catalog">
                <button v-on:click="saveValues(values.catalog, item, values.catalogName)" :disabled="!values.catalog">{{labels.save}}</button>
              </div>
            </div>
          </li>
        </ul>
        <ul v-else>
          <li v-for="item in values.catalogsList">
            <div v-on:click="edit(item)">
              <p>{{item.id}} - {{item.name}}</p>
              <div v-if="showInput == item">
                <input v-model="values.catalog">
                <button v-on:click="saveValues(values.catalog, item, values.catalogName)" :disabled="!values.catalog">{{labels.save}}</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import { Bus } from '../bus'

  export default {
    name: 'catalogs-manager',
    methods: {
      click(item) {
        Bus.publish('select.catalog', item)
      },
      edit(item) {
        this.showInput = item
      },
      handleChange() {
        Bus.publish('change.id')
      },
      canAdd(catalogName){
        return (catalogName != "cnae" && catalogName != "ccaa" && catalogName != '')
      },
      addItem(){
        if(this.values.newItemValue != undefined) {
          const detail = {
            newValue: this.values.newItemValue,
            catalog: this.values.catalogName
          }
          Bus.publish('add.item', detail)
        }
        this.values.newItemValue = ""
      },

      addItemInTopics(){
        if(this.values.newItemID &&  this.values.newItemValue != undefined) {
          const detail = {
            newValue: {id: this.values.newItemID, name: this.values.newItemValue },
            catalog: this.values.catalogName
          }
          Bus.publish('add.item', detail)
        }
        this.values.newItemID = ""
        this.values.newItemValue = ""
      },

      saveValues(value, item, catalog) {
        this.values.catalog = ""
        if(value != undefined) {
          const detail = {
            oldValue: item,
            newValue: value,
            catalog: catalog
          }
          Bus.publish('update.item', detail)
        }
      }
    },
    created (){
      Bus.publish('catalogs-manager.created')
    },

    destroyed (){
      Bus.publish('catalogs-manager.destroyed')
    }
  }
</script>
<style>
  a {
    color: black;
  }
  li {
    cursor: pointer;
    list-style: none;
    font-weight: bold;
  }
  li:hover {
    background-color: #deeaee;
  }
  div {
    font-weight: 100;
  }
</style>
