<template>
  <button 
    type="button"
    :name="id"
    :id="id"
    v-on:click='handleClick'
    :disabled="isDisabled"
    class="button-inline"
    >
    {{ label }}
  </button>
</template>

<script>
import { Bus } from '../bus'

export default {
  name: 'custom-button',
  props: ['label', 'eventName', 'isDisabled', 'id'],
  methods: {
    handleClick() {
      Bus.publish(this.eventName)
    }
  }
}
</script>
<style scoped>
  .delete {
    background-color: var(--grey-color);
    border-color: var(--grey-color);
  }
</style>
