<template>
  <div id='subjects-list'>
    <div class="card-title">
      <h2>{{ labels.title }}</h2>
      <a
        id="download-user-counselings"
        v-if="hasSubjects"
        v-on:click.prevent="handleDownloadClick"
      >{{ labels.download }}</a>
      <br>
      <a
        id="download-coordinator-counselings"
        v-if="showFEPRLButton && hasSubjects"
        v-on:click.prevent="downloadForJustification"
      >{{ labels.downloadForJustification }}</a>
    </div>
    <div>
    <input  id="filter-subjects"
            type="text"
            v-on:keyup="onKeyup"
            v-model="values.filter"
            placeholder="Contiene el texto"
            >
      <basic-select id="select-list"
                    :options="listOptions"
                    :selected-option="values.selectedList"
                    @select="onSelect"
                    v-model="values.selectedList"
                    >
      </basic-select>
    </div>
    <div class="card-title">
      <h2>{{ showSelectedOptionTitle() }}:</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>{{ labels.caseNumber }}</th>
          <th>{{ labels.solicitudeId }}</th>
          <th>{{ labels.owner }}</th>
          <th>{{ labels.project }}</th>
          <th>{{ labels.createdAt }}</th>
          <th>{{ labels.companyName }}</th>
          <th>{{ labels.topics }}</th>
          <th>{{ labels.register }}</th>
          <th>{{ labels.isJustified }}</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in subjectsList">
          <td>
            {{ item.numeration }}
            <template v-if="item.shared_destination">
              <i id="shared"
                :title='labels.shared'
                class="fa fa-share-alt"></i>
            </template>
          </td>
          <td>
            <template v-if="item.solicitude_numeration =='' ">{{ labels.notApply }}</template>
            <template v-else>{{ item.solicitude_numeration }}</template>
          </td>
          <template v-if="item.showOwner">
            <td>{{item.user_id}}</td>
          </template>
          <template v-else>
            <td>-</td>
          </template>
          <td>
            <template v-if="item.project == undefined ">{{ labels.notApply }}</template>
            <template v-else>{{ item.project.text }}</template>
          </td>
          <td>{{ item.created | es }}</td>
          <td>
            <template v-if="item.isMyDomain">
              <template v-if="item.companyName == undefined || item.companyName == '' ">{{ labels.notApply }}</template>
              <template v-else>{{ item.companyName }}</template>
            </template>
          </td>
          <td> {{ formatedTopics(item.topics) }} </td>
          <td
            :title='infoRegisterLabels()'
            :alt="labels.registerInfoA"
          > {{ translateRecord(item.record) }}<br><b>{{ translateRecordClosed(item.record) }}</b></br></td>
          <td>
            <template v-if="item.isSubjectJustified && item.owner">
              <span id="check" class="fa fa-check fa-2" :title="labels.subjectCheck" :alt="labels.subjectCheck"></span>
            </template>
            <template v-if="!item.isSolicitudeJustified && item.owner">
              <label  class="fa fa-warning"
                      :title="labels.subjectWarning"
                      :alt="labels.subjectWarning"
              ></label>
            </template>

          </td>
          <td>
            <template v-if="item.hasAttachments">
              <label  id="clip"
                      class="fa fa-paperclip"
                      :title="labels.hasAttachments"
                      :alt="labels.hasattachments"
              ></label>
            </template>
          </td>
          <td>
            <a class="solicitude-show-button list-button"
               target="_blank"
               v-on:click='showSolicitude(item.solicitude_id)'>
               {{ labels.show }}
            </a>
          </td>
          <td v-if="item.owner">
            <a class="solicitude-edit-button list-button"
               target="_blank"
               v-on:click='solicitudeEdit(item.solicitude_id)'>
               {{ labels.edit }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { BasicSelect } from 'vue-search-select'

export default {
  name: 'subjects-list',
  created() {
    this.bus.publish('subjects-list.view.created')
  },

  components: {
    BasicSelect
  },

  filters: {
    es: function (date_en) {
      if (date_en === undefined) { return date_en }
      const date_parts = date_en.split('-')
      return date_parts.reverse().join('/')
    }
  },

  methods: {
    onKeyup(){
      this.bus.publish("filter.text")
    },

    formatedTopics(topics){
      if (topics.length == 0) return "n/a"
      if (topics.length == 1) return topics[0]
      if (topics.length > 1) return topics[0] + " ..."
    },

    translateRecord(record){
      let result = ""
      if (record.analysis != "") result += "A "
      if (record.description != "") result +="D "
      if (record.proposal.length > 0) result +="P"
      return result
    },

    translateRecordClosed(record){
      let result = ""
      if (record.closed != null) result +="C"
      return result
    },

    solicitudeEdit(id) {
      this.bus.publish('load.solicitude', { detail: id })
    },

    showSolicitude(id) {
      this.bus.publish('show.solicitude', { detail: id })
    },

    infoRegisterLabels() {
      return this.labels.registerInfoA + "\n" + this.labels.registerInfoD + "\n" + this.labels.registerInfoP + "\n" + this.labels.registerInfoC
    },

    handleDownloadClick() {
      this.bus.publish('download.clicked')
    },

    downloadForJustification() {
      this.bus.publish('download.for.justification')
    },

    onSelect (item) {
      this.values.selectedList = item
      this.bus.publish('filter.subjects')
    },

    reset () {
      this.item = {}
    },

    selectOption () {
      this.item = this.options[0]
    },

    showSelectedOptionTitle(){
      return this.values.selectedList.text
    }
  }
}

</script>
<style scoped>
#check {
  color: #35cebe;
}

#shared {
  color: #35cebe;
}

a {
  cursor: pointer;
  font-weight: bold;
}
label {
  font-weight: normal;
}
input {
  background-color: white;
  font-size: 1.5rem;
}
.ui.selection.dropdown .menu > .item {
  font-size: 1.5rem !important;
  border-color: #eee !important;
}
.ui.selection.active.dropdown .menu {
  border-color: #eee !important;
}
.ui.selection.active.dropdown:hover {
  border-color: #eee !important;
}
</style>
