<template>
  <div class="card large-card" id="subjects">
    <div class="card-title">
      <h2>{{ labels.subjectsSolicitude}}</h2>
    </div>
    <subject-summary-solicitude :labels="labels"
                                :values="values"
                                :warningEmployees="warningEmployees"
                                :organization="organization"
                                :owner="owner">
    </subject-summary-solicitude>
    <subject-cards-list :labels="labels" :values="values"></subject-cards-list>
    <div class="card-title">
      <h2>{{ labels.newSubject }}</h2>
    </div>
    <div class="row grid-responsive">
      <div class="column column-20 box">
        <div class="subtitle-container">
          <div class="subtitle-item">
            <div class="subtitle"></div>
            <div>
              {{ labels.requiredForSubject }}<span>*</span>
            </div>
            <br></br>
            <div class="subtitle">
              {{ labels.sharedData }}
            </div>
            <div>
              {{ labels.sharedDataInfo }}
            </div>
          </div>
        </div>
      </div>
      <div class="column column-80 box">
        <subject-date :values="values"
                      :labels="labels">
        </subject-date>
        <subject-project :labels="labels" :values="values" :projects-catalog="projectsCatalog"></subject-project>
        <subject-topics :labels="labels" :values="values" :topics-catalog="topicsCatalog" :isSubmittable="isSubmittable"></subject-topics>
        <subject-analysis :labels="labels" :values="values"></subject-analysis>
        <subject-proposals :labels="labels" :values="values" :proposals-catalog="proposalsCatalog"></subject-proposals>
        <subject-proposals-description :labels="labels" :values="values"></subject-proposals-description>
        <subject-attach-files :labels="labels" :values="values"></subject-attach-files>

        <template>
          <subject-button-create  :labels="labels"
                                  :values="values"
                                  :isSubmittable="isSubmittable"
                                  :warning-subject="warningSubject"
                                  :isEditionMode="isEditionMode">
          </subject-button-create>
          <subject-button-discard :labels="labels">
          </subject-button-discard>
        </template>
        <template v-if="isSubmittable">
          <subject-button-close-modal-open  :labels="labels"
                                            :values="values"
                                            :reasons-catalog="reasonsCatalog"
                                            :isEditionMode="isEditionMode"
                                            :showCloseSubjectModal="showCloseSubjectModal"
                                            >
          </subject-button-close-modal-open>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  import ProposalsView from './solicitude/subject/subject-proposals'
  import AnalysisView from './solicitude/subject/subject-analysis'
  import ButtonCreateSubject from './solicitude/subject/subject-button-create'
  import ButtonDiscardSubjectView from './solicitude/subject/subject-button-discard'
  import SubjectTopicsView from './solicitude/subject/subject-topics'
  import SummarySolicitudeView from './solicitude/subject/subject-summary-solicitude'
  import SubjectCardsListView from './solicitude/subject/subject-cards-list'
  import ProposalsDescriptionView from './solicitude/subject/subject-proposals-description'
  import SubjectButtonCloseModalOpen from './solicitude/subject/subject-button-close-modal-open'
  import SubjectDateView from './solicitude/subject/subject-date'
  import SubjectProjectView from './solicitude/subject/subject-project'
  import SubjectAttachFilesView from './solicitude/subject/subject-attach-files'

  import { Bus } from '../bus'

  export default {
    name: 'subjects',
    components: {
      "subject-proposals": ProposalsView,
      "subject-analysis": AnalysisView,
      "subject-button-create": ButtonCreateSubject,
      "subject-button-discard": ButtonDiscardSubjectView,
      "subject-topics": SubjectTopicsView,
      "subject-summary-solicitude": SummarySolicitudeView,
      "subject-cards-list": SubjectCardsListView,
      "subject-proposals-description": ProposalsDescriptionView,
      "subject-button-close-modal-open": SubjectButtonCloseModalOpen,
      "subject-date": SubjectDateView,
      "subject-project": SubjectProjectView,
      "subject-attach-files": SubjectAttachFilesView
    },

    created (){
      Bus.publish('subjects.view.created', this.$route.params.solicitude_id)
    },

    destroyed() {
      Bus.publish('subjects.view.destroyed')
    }
  }
</script>
