<template>
  <div  class="card large-card" >
    <div class="card-title">
      <h2>{{ labels.company }}</h2>
    </div>
    <div class="row grid-responsive">
      <div class="column column-20 box">
        <div class="subtitle-container">
          <div class="subtitle-item">
            <div class="subtitle">
              {{ labels.identification }}
            </div>
          </div>
        <div class="subtitle-item">
          <div class="subtitle">
            {{ labels.information }}
          </div>
          <div class="subtitle-section">
            {{ labels.sharedData }}
            <div>
              {{ labels.sharedCompanyData }}
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="column column-40 box">
        <company-identity :values="values"
                                  :labels="labels"
                                  :isValidCif="isValidCif"
                                  :isEditionMode="isEditionMode"
                                  :is-valid-company-identity="isValidCompanyIdentity"
                                  :is-valid-company-name='isValidCompanyName'
                                  ></company-identity>
        <company-cp :values="values"
                    :labels="labels">
        </company-cp>
        
        <company-employees :values="values"
                                   :labels="labels"
                                   :isValidEmployees="isValidEmployees"
                                   :maxNumberEmployees="maxNumberEmployees"
                                   ></company-employees>

        <company-cnae :values="values"
                              :company-cnae="values.companyCnae"
                              :labels="labels"
                              :cnae-catalog="cnaeCatalog"
                              ></company-cnae>
      </div>
      <div class="column column-40" id="company-matches">
        <company-matches :labels="labels" :suggested-companies="suggestedCompanies"></company-matches>

      </div>
    </div>
  </div>
</template>

<script>
import CompanyIdentityView from './company/company-identity'
import CompanyEmployeesView from './company/company-employees'
import CompanyCnaeView from './company/company-cnae'
import CompanyMatchesView from './company/company-matches'
import CompanyCpView from './company/company-cp'
import { Bus } from '../../bus'

export default {
  name: 'solicitude-company',

  props: ['labels', 'values', 'isValidCif', 'cnaeCatalog', 'suggestedCompanies',
          'isValidCompanyIdentity', 'isValidCompanyName', 'isEditionMode',
          'showEditCompanyButton', 'isValidEmployees', 'maxNumberEmployees'],

  components: {
    "company-identity" : CompanyIdentityView,
    "company-employees" : CompanyEmployeesView,
    "company-cnae" : CompanyCnaeView,
    "company-cp" : CompanyCpView,
    "company-matches" : CompanyMatchesView
  }
}
</script>
<style scoped>
.subtitle-section {
  font-weight: bold;
  font-style: normal;
  font-size: 1.6rem;
}
.subtitle-section div {
  padding-top: 1em;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 100;
}
</style>
