 <template>
  <div>
    <label for="company-name">{{ labels.companyName }}</label>
    <input  id="company-name"
            name="company-name"
            type="text"
            v-on:keyup="onKeyup"
            v-model="values.companyName"
            >
    </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'company-name',

  props: ['labels', 'values'],

  methods: {
    onKeyup(){
      this.searchCompaniesMatch()
    },

    searchCompaniesMatch() {
      Bus.publish("changed.company.name")
    }
  }
}
</script>
