<template>
  <div v-if="suggestedCompanies.length > 0">
    <label>{{ labels.suggestions }}</label>
    <table>
      <thead>
        <tr>
          <th>{{ labels.companyName }}</th>
          <th>{{ labels.companyCif }}</th>
          <th>{{ labels.companyCnae }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-on:click="onClick(item)"
            v-for="item in suggestedCompanies">
            <td>{{ item.name }}</td>
            <td>{{ item.cif }}</td>
            <td>{{ item.cnae }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'company-matches',
  props: ['labels', 'suggestedCompanies','validatedcif'],

  methods: {

    onClick(item){
        this.selectCompany(item)
        this.validateCompanyIdentity()
    },

    selectCompany(item){
      Bus.publish('clicked.company', { detail: item })
      this.validatedcif = true
    },

    validateCompanyIdentity(){
      Bus.publish('validate.company.identity')
    },
  }
}

</script>
<style scoped>
  table{
    width: 100%;
    height: 335px;
    overflow: auto;
    display: block;
  }
</style>
