<template>
  <div id='subjects-edition'>
    <div>
      <h4 v-if="!values.numeration">{{labels.newSubject}}:</h4>
      <h4 v-else>{{labels.editingSubject}} {{values.numeration}}: </h4>
      <subject-date :values="values" :labels="labels"></subject-date>
      <subject-project :labels="labels" :values="values" :projects-catalog="projectsCatalog"></subject-project>
      <subject-topics :labels="labels" :values="values" :topics-catalog="topicsCatalog" :isSubmittable="isSubmittable"></subject-topics>
      <subject-analysis :labels="labels" :values="values"></subject-analysis>
      <subject-proposals :labels="labels" :values="values" :proposals-catalog="proposalsCatalog"></subject-proposals>
      <subject-proposals-description :labels="labels" :values="values"></subject-proposals-description>
      <subject-attach-files :labels="labels" :values="values"></subject-attach-files>
      <template>
        <label>{{ labels.files }}</label>
        <ul>
          <div v-for="subject in values.subjects">
            <template v-if="editionSubject == subject.subjectId">
              <li v-for="file in subject.files">
                {{ file.name }}
                <a href='#' @click.prevent='deleteStoredAttachment(subject.subjectId, file.name)'>
                  <em class="fa fa-trash red"></em>
                </a>
              </li>
            </template>
            <template v-if="editionSubject == subject.id">
              <li v-for="file in subject.files">
                <a :href="downloadUrl + file.id">{{ file.name }}</a>
                <a href='#' @click.prevent='deleteAttachment(file.id)'>
                  <em class="fa fa-trash red"></em>
                </a>
              </li>
            </template>
          </div>
        </ul>
      </template>
      <label v-if="!isSubmittable" class="alert-label">
          {{labels.incompleteRecord}}
        </label>
      <div id="button-container">
        <template v-if="this.values.subjectId != ''">
          <subject-button-modify :labels="labels"
                                 :values="values"
                                 :isSubmittable="isSubmittable"
                                 :warning-subject="warningSubject"
                                 :isEditionMode="isEditionMode">
          </subject-button-modify>
        </template>
        <template v-else>
          <subject-button-create :labels="labels"
                                 :values="values"
                                 :isSubmittable="isSubmittable"
                                 :warning-subject="warningSubject"
                                 :isEditionMode="isEditionMode"
                                 >
          </subject-button-create>
        </template>

        <template v-if="this.values.closed == null">
          <subject-button-close-modal-open  :labels="labels"
                                            :values="values"
                                            :reasons-catalog="reasonsCatalog"
                                            :isEditionMode="isEditionMode"
                                            :isSubmittable="isSubmittable"
                                            :showCloseSubjectModal="showCloseSubjectModal">
          </subject-button-close-modal-open>
        </template>
        <template v-else>
          <subject-button-remove-closed-status :labels="labels"
                                               :values="values">
          </subject-button-remove-closed-status>
          <div>
            {{labels.closedSubject}}: {{this.values.closed}}
            <br>{{labels.reason}}: {{this.values.reason.text}}
            <template v-if= "this.values.comments">
              <br>{{labels.comments}}: {{this.values.comments}}
            </template>
          </div>
        </template>
        <template v-if="values.shared_destination">
          <label class="alert-involved">
            <i
              id="shared"
              :title='labels.shared'
              class="fa fa-share-alt">
            </i>
            {{labels.alreadyInvolved}}
            <a
              class="solicitude-show-button"
              target="_blank"
              v-on:click='showSolicitude(values.shared_destination.id)'>
              {{values.shared_destination.numeration}}
            </a>
          </label>
        </template>
        <template v-else>
          <subject-button-share
            id="share-subject"
            :values="values"
            :labels="labels"
            :isEditionMode="isEditionMode"
            :isCreationMode="isCreationMode"
            :isSubmittable="isSubmittable"
            :showShareEmail = "showShareEmail"
            :isValidShareEmail = "isValidShareEmail"
          ></subject-button-share>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  import ProposalsView from './subject-proposals'
  import AnalysisView from './subject-analysis'
  import SubjectButtonShare from './subject-button-share'
  import SubjectTopicsView from './subject-topics'
  import ButtonModifySubject from './subject-button-modify'
  import ButtonCloseSubject from './subject-button-close'
  import SubjectButtonDelete from './subject-button-delete'
  import SubjectButtonCloseModalOpen from './subject-button-close-modal-open'
  import ProposalsDescriptionView from './subject-proposals-description'
  import SubjectCommentsView from './subject-comments'
  import SubjectDateView from './subject-date'
  import SubjectProjectView from './subject-project'
  import ButtonSubjectRemoveClosedStatus from './subject-button-remove-closed-status'
  import SubjectAttachFiles from './subject-attach-files'
  import ButtonCreateSubject from './subject-button-create'
  import { Bus } from '../../../bus'
  import isEmpty from '../../../lib/isEmpty'

  export default {
    name: 'subject-cards-list',
    props: ['labels', 'values', 'topicsCatalog', 'proposalsCatalog',
            'isSubmittable', 'reasonsCatalog', 'warningSubject',
            'projectsCatalog', 'editionSubject', 'isEditionMode',
            'downloadUrl', 'isValidShareEmail', 'showShareEmail', 'showCloseSubjectModal'],

    components: {
      "subject-proposals" : ProposalsView,
      "subject-analysis" : AnalysisView,
      "subject-topics": SubjectTopicsView,
      "subject-button-modify": ButtonModifySubject,
      "subject-button-close": ButtonCloseSubject,
      "subject-button-close-modal-open": SubjectButtonCloseModalOpen,
      "subject-proposals-description": ProposalsDescriptionView,
      "subject-comments": SubjectCommentsView,
      "subject-button-delete": SubjectButtonDelete,
      "subject-date": SubjectDateView,
      "subject-project": SubjectProjectView,
      "subject-button-remove-closed-status": ButtonSubjectRemoveClosedStatus,
      "subject-attach-files": SubjectAttachFiles,
      "subject-button-create": ButtonCreateSubject,
      "subject-button-share" : SubjectButtonShare
    },
    methods: {
      deleteAttachment(id){
        if (window.confirm(this.labels.removeConfirmAttachment)){
          Bus.publish('delete.attachment', {id: id})
        }
      },

      deleteStoredAttachment(subjectId, filename){
        Bus.publish('delete.stored.attachment', {subjectId: subjectId, filename: filename})
      },

      isFilled(value){
        return !isEmpty(value)
      },

      showSolicitude(id) {
        Bus.publish('show.solicitude', { detail: id })
      }
    }
  }
</script>
<style scoped>
  #button-container {
    display: inline-flex;
    height: 8rem;
  }
</style>
