<template>
  <div>
    <label for="analysis-solicitude">{{ labels.analysis }}<span>*</span></label>
    <span>{{labels.requiredText}}</span>
    <div>
      <span v-if="counter(values.analysis) > 199">
        {{ labels.max200Words}}
      </span>
      200 / {{ 200 - counter(values.analysis)}}
    </div>
    <textarea id="analysis-solicitude"
              :placeholder= "labels.placeholderAnalysis"
              v-model="values.analysis"
              v-on:keyup="checksInputCurrentState"
              >
    </textarea>
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'subject-analysis',

  props: ['labels','values'],

  methods: {
    counter(str) {
      return str.split(" ").length
    },

    checksInputCurrentState(event){
      this.changeLimitationSpace(event)
      this.emitSignal(event)
    },

    emitSignal(event) {
      Bus.publish('changed.subject')
    },

    changeLimitationSpace(event) {
      let maximumWordsSize = 200
      let analysis = this.values.analysis
      let words = analysis.split(/\s+/).length
      let isMaxLength = (words > maximumWordsSize)
      if (isMaxLength) { this.limitLengthFrom(analysis) }
      if (!isMaxLength) { this.unblockLength() }
    },

    limitLengthFrom(text) {
      let analysisArea = document.querySelector('#analysis-solicitude')
      let actualLength = text.length
      analysisArea.setAttribute('maxlength', actualLength.toString())
    },

    unblockLength() {
      let analysisArea = document.querySelector('#analysis-solicitude')
      analysisArea.removeAttribute('maxlength')
    }
  }
}
</script>
<style scoped>
  em {
    font-size: 1.5rem;
  }
  textarea::placeholder {
    text-align: left;
    font-size: 1em;
    color: grey;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
</style>
