<template>
  <div>
    <template v-if="organization">
      <div id="summary">
        <label v-if="values.shared_origin" class="alert-involved">
          <i id="shared"
            :title='labels.shared'
            class="fa fa-share-alt">
          </i>
          {{labels.solicitudeInvolved}}
          <a class="solicitude-show-button"
            target="_blank"
            v-on:click='showSubject(values.shared_origin.solicitude_id)'>
              {{values.shared_origin.numeration}}
          </a>
        </label>

        <div class="row grid-resposive">
          <div class="column column-30 box">
            <label>{{ labels.applicant}}</label>
            <p><em>{{ labels.applicantName }}:</em> {{ values.applicantName }}</p>
            <p><em>{{ labels.applicantSurname }}:</em> {{ values.applicantSurname }}</p>
            <p><em>{{ labels.applicantCcaa }}:
                <label  v-if="!values.applicantCcaa.text && owner"
                        class="fa fa-warning"
                        :title="labels.required"
                        :alt="labels.required">
                </label>
               </em> {{ values.applicantCcaa.text }}</p>
            <p><em>{{ labels.applicantEmail }}:</em> {{ values.applicantEmail }}</p>
            <p><em>{{ labels.applicantPhonenumber }}:</em> {{ values.applicantPhonenumber }}</p>
            <p><em>{{ labels.date }}:
                <label  v-if="!values.date && owner"
                        class="fa fa-warning"
                        :title="labels.required"
                        :alt="labels.required">
                </label>
               </em> {{ values.date }}</p>
            <p><em>{{ labels.source }}:
                <label  v-if="!values.source.text && owner"
                        class="fa fa-warning"
                        :title="labels.required"
                        :alt="labels.required">
                </label>
              </em> {{ values.source.text }}</p>
              <template v-if="values.organization">
                <p><em>{{ labels.organization }}: </em> {{ values.organization.text }} </p>
              </template>
          </div>
          <div class="column column-30 box">
            <label>{{ labels.company}}</label>
            <p><em>{{ labels.companyName }}:</em> {{ values.companyName }}</p>
            <p><em>{{ labels.companyCif }}:</em> {{ values.companyCif }}</p>
            <p><em>{{ labels.companyCp }}:</em> {{ values.companyCp }}</p>
            <p><em>{{ labels.companyEmployees }}:
              <div v-if="owner" class="employees">
                <label
                        v-if="warningEmployees"
                        class="fa fa-warning"
                        :title="labels.required"
                        :alt="labels.required">
                </label>
              </div>
               </em> {{ values.companyEmployees }}</p>
            <p><em>{{ labels.companyCnae }}:
                <label  v-if="!values.companyCnae && owner"
                        class="fa fa-warning"
                        :title="labels.required"
                        :alt="labels.required">
                </label>
               </em> {{ values.companyCnae }}</p>
          </div>
          <div class="column column-40">
            <label> {{ labels.text }}:</label>
            <textarea disabled id="text">{{ values.text }}</textarea >
          </div>
        </div>
      </div>
    </template>
    <template v-else>
        <div class="row grid-resposive">
          <div class="column column-30 box">
            <label>{{ labels.applicant}}</label>
            <p><em>{{ labels.date }}:
               </em> {{ values.date }}</p>
          </div>
          <div class="column column-30 box">
            <label>{{ labels.company}}</label>
            <p><em>{{ labels.companyEmployees }}:
               </em> {{ values.companyEmployees }}</p>
            <p><em>{{ labels.companyCnae }}:
               </em> {{ values.companyCnae }}</p>
          </div>
          <div class="column column-40">
            <label> {{ labels.text }}:</label>
            <textarea disabled id="text">{{ values.text }}</textarea>
          </div>
        </div>
    </template>
  </div>
</template>

<script>
import { Bus } from '../../../bus'
export default {
  name: 'subject-summary-solicitude',
  props: ['labels', 'values', 'warningEmployees', 'owner', 'organization'],
  methods: {
    showSubject(id) {
      Bus.publish('show.shared.solicitude', id)
    }
  }
}
</script>
<style scoped>
#shared {
  color: #35cebe;
}

#summary{
  margin-bottom: 2em;
}

#text {
  flex: 1;
  overflow-y: scroll;
}

.row .column:nth-of-type(3){
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 1em;
  margin-left: 0.3em;
}

p {
  margin-left: 0.5rem;
  margin-right: 0.3rem;

}

p em {
  font-size: 0.9em;
}

.employees {
  display: unset;
}
</style>
