<template>
  <div>
    <label for="solicitude-proposals-description">{{ labels.description }}</label>
    <template v-if="values.description">
      <span>
        <div>
          <span v-if="counter(values.description) > 199">
            {{ labels.max200Words}}
          </span>
          200 / {{200 - counter(values.description)}}
        </div>
      </span>
    </template>
    <textarea id="solicitude-proposals-description"
              :placeholder="labels.placeholderdescription"
              v-model="values.description"
              v-on:keyup="onKeyup">
    </textarea>
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'solicitude-proposals-description',

  props: ['labels', 'values'],

  methods: {
    onKeyup(event){
      Bus.publish('changed.subject')
    },
    counter(str) {
      return str.split(" ").length
    }
  }
}
</script>
