<template>
  <div class="button-inline">
    <button v-if="isEditionMode && values.subjectId"
            type="button"
            v-on:click="openSharingModal()"
            :disabled = "values.shared_destination">
            {{labels.involve}}
    </button>

    <template>
      <transition name="modal" v-if="showShareEmail">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="card-title">
                <h2>
                  <i id="shared"
                    :title='labels.shared'
                    class="fa fa-share-alt">
                  </i>
                  {{labels.involve }}</h2>
              </div>
              <div class="modal-body">
                <label class="alert-label">{{labels.infoToShare}}</label>
                <label for="share-email">{{ labels.istasEmail }}<span>*</span></label>
                <input  id="share-email"
                        name="email"
                        type="text"
                        v-on:keyup="checkInfo()"
                        v-model="values.shareEmail"
                        >
                <label for="share-text">{{ labels.text }}<span>*</span></label>
                <textarea id="share-text"
                          v-on:keyup="checkInfo()"
                          v-model="values.shareText">
                </textarea>
                <div v-if="!isValidShareEmail">
                  <div class="alert background-danger">
                    <em class="fa fa-times-circle"></em>
                      {{labels.requiredToShare}}
                  </div>
                </div>
                <button
                        v-on:click="shareSubject()"
                        :disabled="!isValidShareEmail">
                        {{labels.send}}
                </button>
                <button
                        v-on:click="closeSharing()">
                        {{labels.cancel}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </template>
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'subject-button-share',

  props: ['labels', 'values', 'isEditionMode', 'isSubmittable', 'warning', 'showShareEmail', 'isValidShareEmail'],

  methods: {
    openSharingModal(){
      this.showShareEmail = true
    },

    checkInfo() {
      Bus.publish('changed.sharing.info')
    },

    shareSubject() {
      Bus.publish('clicked.share.subject')
    },

    closeSharing(){
      this.showShareEmail = false
    }
  }
}
</script>

<style scoped>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    margin: auto;
    padding: 2em;
    background-color: #fff;
    border-radius: 2px;
    width: 50%;
    overflow-y: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-body {
    margin: 20px 0;
  }

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
</style>
