<template>
  <div class="button-inline">
    <button  id="create-counseling"
            type="button"
            name="submit"
            class="submitbutton"
            :disabled="!isSubmittable"
            v-on:click="createCounseling()"
            :title="showWarningIfNotJustifiable()">
            {{ labels.createSubject }}
            <label  v-if="warningSubject"
                    class="fa fa-warning">
            </label>
    </button>
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'subject-button-create',

  props: ['labels', 'values', 'isSubmittable', 'warningSubject', 'isEditionMode'],

  methods: {
    showWarningIfNotJustifiable(){
      if(this.warningSubject){
        return this.labels.notJustifiable
      }
      return ""
    },

    createCounseling() {
      this.isSubmittable = false
      const detail = {
        solicitudeId: this.values.id,
        proposals: this.values.proposals,
        analysis: this.values.analysis,
        description: this.values.description,
        topics: this.values.selectedTopics,
        created: this.values.created,
        project: this.values.project,
        comments: this.values.comments,
        reason: this.values.reason,
        files: this.values.files
      }
      Bus.publish('subject.create.clicked', detail)
      this.values.files = []
    }
  }
}
</script>

<style scoped>
</style>
