<template>
  <div>
    <label for="solicitude-subject-comments">{{ labels.comments }}</label>
    <textarea id="solicitude-subject-comments"
              :placeholder="labels.analisisInstructions"
              v-model="values.comments"
              v-on:keyup="onKeyup">
    </textarea>
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'solicitude-subject-comments',

  props: ['labels', 'values'],

  methods: {
    onKeyup(event){
      Bus.publish('changed.subject')
    }
  }
}
</script>
<style scoped>
  textarea::placeholder {
    text-align: left;
    font-size: 1em;
    color: grey;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
</style>
